#my-viz {
    font-family: Arial, Helvetica, sans-serif;
}

#lead {
    font-size: 150%;
}

.alert {
    font-weight: bold;
    color: red;
    background: yellow;
}

#nobel-bar {
    width: 600px;
    height: 400px;
    fill: deepskyblue;
}

.axis {
    font: 10px;
}

    .axis path,
    .axis line {
        fill: blueviolet;
        stroke: #000;
        shape-rendering: crispEdges;
    }
